// Font Family
$font-primary: 'Rubik', sans-serif;;
$font-secondary: 'Lora', serif;;

// All Color Code
$color-primary: #89c74a;
$color-secondary: #323232;


$color-white: #fff;
$color-white-1: #eef0f1;
$color-white-2: #e1e1e1;
$color-white-3: #ebebeb;

$color-light-blue: #43b5f4;
$color-deep-blue: #0055b4;
$color-deep-pink:#d1008a;
$color-deep-yellow:#fdd835;

$color-green: #79a206;
$color-light-green: #89c74a;

$color-gray: #666;
$color-gray-1: #7e7e7e;
$color-gray-2: #888;


$color-red: #e81212;
$color-deep-red:#D3122A;
$color-orange: #f17b08;
$color-light-orange: #FF9800;

$color-golden: #b09e64;
$color-silver: #546583;

$color-black: #000;
$color-black-1: #222;
$color-black-2: #333;

// Social Color
$color-facebook: #3c5b9b;
$color-twitter: #40c1df;
$color-youtube: #ed3c32;
$color-gplus: #eb8314;
$color-instagram: #c619b8;



//Transition
$transition3ms: all .3s ease;