/*****************************
09 - Component - Product
*****************************/
.product {
    &.m-t-100{
        margin-top: 57px; 
        @include breakpoint(medium){
            margin-top: 80px;
        } 
        @include breakpoint(large){
            margin-top: 100px;
        }
    }

    // Product Typo: 
    &__link{
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 9px;
        &:hover{color: $color-primary;}
    }

    &__label{
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0 14px;
        font-size: 14px;
        color: $color-white;
        border-radius: 30px;
        font-weight: 300;

        &--sale-dis{background: $color-black-2;}
        &--sale-out{background: $color-green;}
    }

    &__counter-box{
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translateY(-50%);
        text-align: center;
        transition: all 0.3s ease;
        opacity: 1;
        visibility: visible;
    }

    &__items{
        &--text{
            display: block;
            font-size: 14px;
        }
    }

    &__review{
        font-size: 18px;
        li{
            display: inline-block;
            margin-right: 4px;
            &:last-child{margin-right: 0;}
        }
        &--fill{color: $color-light-orange;}
        &--blank{color: $color-secondary;}
    }

    &__price{
        font-weight: 600;
        color: $color-primary;

        del{
            font-size: 12px;
            font-weight: 400;
            color: #666;
        }

        &--large{
            font-size: 22px;
            del{
                padding-left: 10px;
                font-size: 20px;
                font-weight: 400;
                color: $color-black-1;
            }
        }
    }

    &__tag{display: inline-block;}

    &__action--link{
        visibility: hidden;
        opacity: 0;
        transition: $transition3ms;
        width: 100%;
        bottom: 0px;
        li{
            display: inline-block;
            margin-right: 6px;
            &:last-child{margin-right: 0;}
        }

        li a{
            line-height: 42px;
            width: 40px;
            text-align: center;
            font-size: 18px;
            display: inline-block;
            background: $color-primary;
            border-radius: 50%;
            height: 40px;
            color: $color-white;
        }
    }

    &__action--link-list{
        transition: $transition3ms;
        width: 100%;
        bottom: 0px;
        li{
            display: inline-block;
            margin-right: 20px;
            &:last-child{margin-right: 0;}

            &:first-child a{
                    text-align: center;
                    font-size: 18px;
                    width: 130px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    background: $color-black-1;
                    border-radius: 30px;
                    color: $color-white;

                    @include breakpoint(small){
                        width: 200px;
                    }
            }
        }

        li a{
            line-height: 42px;
            width: 40px;
            text-align: center;
            font-size: 18px;
            display: inline-block;
            background: $color-primary;
            border-radius: 50%;
            height: 40px;
            color: $color-white;
        }

        
    }

    &__img-box{overflow: hidden;}

}

// Product Type: Catagory
.product__catagory{
    overflow: hidden;
    border-left: 1px solid $color-white-3;
    border-top: 1px solid $color-white-3;

    &--single{
        display: flex;
        align-items: center;
        width: 100%;
        float: left;
        padding: 7px 10px;
        background: $color-white;
        border-bottom: 1px solid $color-white-3;
        border-right: 1px solid $color-white-3;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        position: relative;
        overflow: hidden;
        justify-content: space-between;
        min-height: 120px;

        @include breakpoint (small){width: 100%;}
        @include breakpoint (medium){width: 50%;}
        @include breakpoint (large){width: 25%;}
        @include breakpoint (xlarge){width: 20%;}
        @include breakpoint (xxlarge){width: 20%;}

        &:hover{
            z-index: 2;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
        }
    }

    .product__link{
        font-weight: 500;
        margin-bottom: 10px;
    }

}

.product__content--catagory{
    width: 60%;
    padding: 10px;
}

.product__img-box--catagory{
    width: 40%;
}

// Product Type: Default
.product__box{
    border: 1px solid #E2E2E2;
    padding: 20px 0;
    padding-top: 0;

    .product__link{
        margin-top: 8px;
        margin-bottom: 10px;
    }
}

.product__box:hover .product__action--link{
    bottom: 10px;
    visibility: visible;
    opacity: 1;
}

.product__box:hover .product__counter-box{
    left: auto;
    right: -30px;
    visibility: hidden;
    opacity: 0;
}

// // Product Type: List
.product__box--list{
    display: flex;
    flex-direction: column;
    @include breakpoint(medium){
        flex-direction: row;
    }
    .product__img-box {
        width: 100%;
        @include breakpoint(medium){width: 33.333%;}
    }
    .product__content{
        width: 100%;
        @include breakpoint(medium){ width: 66.666667%;}
        padding: 25px;
        text-align: left;
    }
}

.cdown {
    background: #89C74A;
    color: $color-white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-top: 5px;
    &:last-child{margin-bottom: 0;}
    @include breakpoint(xlarge){
        margin-bottom: 10px;
        
    }
    p{
        font-size: 12px;
        font-weight: 300;
    }
}