/*****************************
32 - Page - FAQ
*****************************/

.accordian {
  width: 100%;

  &-item{
  	margin-bottom: 20px;
	  &:last-child{margin-bottom: 0}
	  transition: $transition3ms;
  }

  &-item-header {
  padding: 15px 45px 15px 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: $color-white-1;
  color: $color-black-1;
	  &.active{
	  	background: $color-green;
	  	color: $color-white;
	  	&::after {content: "\2212";}
	  }
	  h4{
	  	margin-bottom: 0;
	  	font-size: 16px;
	  	font-weight: 400;
	  }

	  &::after{
	  	 content: "\002B";
		  font-size: 2rem;;
		  position: absolute;
		  right: 1rem;
	  }
	}

	&-item-body {
	  max-height: 0;
	  overflow: hidden;
	  transition: max-height 0.2s ease-out;
	}

	&-item-body-content {
	  padding: 1rem;
	  line-height: 1.5;
	  border: 1px solid $color-white-3;
	}
}

